<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin panel(users)</title>
</head>
<body>
<header>
    <a th:href="@{/logout}" ><input type="button" value="Logout"/></a>
</header>


    <p>users(for admins)</p>

    <h1>Admin panel</h1>
    <table border="1px">

        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Action</th>

        </tr>

        <tbody>
        <tr th:each="singleUser : ${allUsers}">
            <td th:text="${singleUser.getId()}"></td>
            <td th:text="${singleUser.getFirstName()}"></td>
            <td th:text="${singleUser.getLastName()}"></td>
            <td th:text="${singleUser.getUsername()}"></td>
            <td><span th:each="role : ${singleUser.getRoles()}"
                      th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
            <td>
                <form th:action="@{edit/{id}(id=${singleUser.getId()})}" th:align="center">
                    <button type="submit">Edit user</button>
                </form>
                <form th:action="@{delete/{id}(id=${singleUser.getId()})}" method="get" th:align="center">
                    <button type="submit">Delete user </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/admin/new}"><input type="button" value="New User"></a>
</div>
<h2>Logged as:</h2>
<table border="2 px">

    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>

    <tbody>
    <tr>
        <td th:text="${currentUser.getId()}"></td>
        <td th:text="${currentUser.getFirstName()}"></td>
        <td th:text="${currentUser.getLastName()}"></td>
        <td th:text="${currentUser.getUsername()}"></td>
        <td><span th:each="role : ${currentUser.getRoles()}"
                  th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>