<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>new_user</title>

</head>
<body>

<header>

    <a class="nav-link" th:href="@{/logout}" role="button"><input type="button" value="Logout"></a>

</header>

<h2>Add user</h2>
<form th:action="@{/adduser}" th:object="${user}" method="post" class="fw-bold text-center">
    <label for="formFirstName" class="form-label mb-0">First name</label><br>
    <input type="text" class="form-control card-form" id="formFirstName" name="firstName" placeholder="First name"> <br>
    <label for="formLastName" class="form-label mt-3 mb-0 text-center">Last name</label><br>
    <input type="text" class="form-control" id="formLastName" name="lastName" placeholder="Last name"><br>
    <label for="formEmail" class="form-label mt-3 mb-0">Username</label><br>
    <input type="username" class="form-control" id="formEmail" name="username" placeholder="username"><br>
    <label for="formPassword" class="form-label mt-3 mb-0">Password</label><br>
    <input type="password" class="form-control" id="formPassword" name="password" placeholder="Password"><br>
    <label for="role_select" class="form-label mt-3 mb-0">Role</label><br>
    <select class="form-control" multiple id="role_select" name="role_select">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}">
        </option>
    </select><br>
    <button type="submit" class="btn btn-primary"> Add User</button>
</form>

</body>
</html>