<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user_form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div>
        <h1><span class="text-success">Edit user</span></h1>
    </div>
    <form th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <input type = "hidden" th:field="*{id}" />
        <div class="mb-3">
            <!--            <div class="form-group row">-->
            <!--                <label class="col-sm-2 col-form-label text-primary">ID: </label>-->
            <!--                <div class="col-sm-10">-->
            <!--                    <input class="form-control" type="text" readonly="" th:text="${currentUser.getId()}" >-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-primary">Username: </label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{username}" class="form-control"
                           placeholder="Please insert your username" required minlength="5" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-primary">Password: </label>
                <div class="col-sm-10">
                    <input type="password" th:field="*{password}" class="form-control"
                           placeholder="Enter your password here"
                           required minlength="5" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-primary">First name: </label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{firstName}" class="form-control"
                           placeholder="Your first name here"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-primary">Last name: </label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           placeholder="Your last name here"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <select class="form-control" multiple id="formRoles" name="role_select">
                    <option th:each="role : ${allRoles}"
                            th:value="${role.getId()}"
                            th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}">
                    </option>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>