<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js'></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <title>users</title>


    <style type="text/css">


        .logged_user {
            padding-left: 10px;
            background: #4A4646;
            color: ghostwhite;
            display: flex;

        }

        .link_logout {
            padding-right: 10px;
            display: flex;
            vertical-align: auto;

        }

        .line-1 {

            border-bottom: 4px blue;
        }

        .tab-pane {
            width: 300px;
        }

        .header1 {

            background: #4A4646; /* green background */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            vertical-align: center;

        }

        .nav-link {
            width: 120px;
        }

        .nav-link active {
            width: 120px;
        }

        .col-3 {
            width: 130px;
        }

        h4 {
            text-decoration: underline;
        }

        .tdd {
            width: 200px;
        }

    </style>

</head>
<body>
<header class="header1">

    <div class="logged_user">

        <table class="table1" border="0 px">
            <tbody>
            <tr>
                <td> Logged as:&nbsp;&nbsp;</td>
                <td th:text="${currentUser.getUsername()}"></td>
                <td> &nbsp; &nbsp; With role: &nbsp;</td>
                <td><span th:each="role : ${currentUser.getRoles()}"
                          th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="link_logout">
        <a th:href="@{/logout}">Logout</a>
    </div>

</header>

<br>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h5>Admin panel</h5>

                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#home" role="tab"
                           aria-controls="pills-home" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#profile" role="tab"
                           aria-controls="pills-profile" aria-selected="false" aria-hidden="false">New user</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" align="left">

                        <table class="table " id="table">
                            <tr>
                                <td class="line-1" colspan="7" align="left">All Users</td>
                            </tr>
                            <tr class="top">
                                <th>ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Username</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                            <tbody>
                            <tr th:each="singleUser : ${allUsers}">
                                <td th:text="${singleUser.getId()}"></td>
                                <td th:text="${singleUser.getFirstName()}"></td>
                                <td th:text="${singleUser.getLastName()}"></td>
                                <td th:text="${singleUser.getUsername()}"></td>
                                <td><span th:each="role : ${singleUser.getRoles()}"
                                          th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
                                <td>

                                    <!--                                    <form th:action="@{edit/{id}(id=${singleUser.getId()})}" th:align="center">-->
                                    <!--                                        <button class="bedit" type="submit">-->
                                    <!--                                            Edit-->
                                    <!--                                        </button>-->
                                    <!--                                        <a th:href="@{/admin/getOne/(id=${singleUser.getId()})}" class="btn btn-primary eBtn">Edit</a>-->
                                    <!--                                    </form>-->
                                    <a th:href="@{/admin/getOne/(id=${singleUser.getId()})}"
                                       class="btn btn-primary eBtn">Edit</a>
                                </td>
                                <td>
                                    <!--                                    <form th:action="@{delete/{id}(id=${singleUser.getId()})}" method="get"-->
                                    <!--                                          th:align="center">-->
                                    <!--                                        <button class="bdelete" type="submit" data-toggle="modal"-->
                                    <!--                                                data-target="#exampleModal">-->
                                    <!--                                            Delete-->
                                    <!--                                        </button>-->
                                    <!--                                    </form>-->
                                    <a th:href="@{delete/{id}(id=${singleUser.getId()})}" th:src = "@{/admin/getOne/(id=${singleUser.getId()})}" class="btn btn-danger delBtn">Delete</a>
`
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="delForm">
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Delete user?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" align="center" style="font-size: large">
                                        <div class="mb-3">
                                            <label for="id1" class="col-form-label">Id:</label>
                                            <input type="text" class="form-control" id="id1" name="id"
                                                   readonly="readonly"/>
                                        </div>
                                        <div class="mb-3">
                                            <label for="firstName" class="col-form-label">First name:</label>
                                            <input type="text" class="form-control" id="firstName1" name="firstName"
                                                    readonly="readonly" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="lastName" class="col-form-label">Last name:</label>
                                            <input type="text" class="form-control" id="lastName1" name="lastName"
                                                   readonly="readonly"/>
                                        </div>
                                        <div class="mb-3">
                                            <label for="username" class="col-form-label">Username:</label>
                                            <input type="text" class="form-control" id="username1" name="username"
                                                   readonly="readonly"/>
                                        </div>

                                        <label for="formRoles" class="col-form-label">Role:</label>
                                        <select class="form-control" multiple id="formRoles1" name="role_select" readonly="readonly">
                                            <option th:each="role : ${allRoles}"
                                                    th:value="${role.getId()}"
                                                    th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"
                                                    >
                                            </option>

                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                        <a href="" class="btn btn-danger" id="delRef">Delete</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="myForm">
                        <form th:action="@{/admin/update/{id}}" method="post">
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close">X
                                            </button>
                                        </div>
                                        <div class="modal-body" align="center" style="font-size: large">

                                            <div class="mb-3">
                                                <label for="id" class="col-form-label">Id:</label>
                                                <input type="text" class="form-control" id="id" name="id"
                                                       readonly="readonly"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="firstName" class="col-form-label">First name:</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName"
                                                       value=""/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="lastName" class="col-form-label">Last name:</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName"
                                                       value=""/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="username" class="col-form-label">Username:</label>
                                                <input type="text" class="form-control" id="username" name="username"
                                                       value=""/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="col-form-label"
                                                       placeholder="password here">Password:</label>
                                                <input type="password" class="form-control" id="password"
                                                       name="password" value=""/>
                                            </div>
                                            <label for="formRoles" class="col-form-label">Select role:</label>
                                            <select class="form-control" multiple id="formRoles" name="role_select">
                                                <option th:each="role : ${allRoles}"
                                                        th:value="${role.getId()}"
                                                        th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"
                                                        selected>
                                                </option>

                                            </select>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <input type="submit" class="btn btn-primary" value="Save"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h4>Add new user</h4>
                        <form th:action="@{/admin/adduser}" th:object="${user}" method="post" class="fw-bold text-center">
                            <label for="formFirstName" class="form-label mb-0">First name</label><br>
                            <input type="text" class="form-control card-form" id="formFirstName" name="firstName"
                                   placeholder="First name"> <br>
                            <label for="formLastName" class="form-label mt-3 mb-0 text-center">Last name</label><br>
                            <input type="text" class="form-control" id="formLastName" name="lastName"
                                   placeholder="Last name"><br>
                            <label for="formEmail" class="form-label mt-3 mb-0">Username</label><br>
                            <input type="username" class="form-control" id="formEmail" name="username"
                                   placeholder="username"><br>
                            <label for="formPassword" class="form-label mt-3 mb-0">Password</label><br>
                            <input type="password" class="form-control" id="formPassword" name="password"
                                   placeholder="Password"><br>
                            <label for="role_select" class="form-label mt-3 mb-0">Role</label><br>
                            <select class="form-control" multiple id="role_select" name="role_select">
                                <option th:each="role : ${allRoles}"
                                        th:value="${role.getId()}"
                                        th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}">
                                </option>

                            </select><br>
                            <button type="submit" class="btn btn-primary"> Add User</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>UserName</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${currentUser.getId()}"></td>
                        <td th:text="${currentUser.getFirstName()}"></td>
                        <td th:text="${currentUser.getLastName()}"></td>
                        <td th:text="${currentUser.getUsername()}"></td>
                        <td><span th:each="role : ${currentUser.getRoles()}"
                                  th:text="${#strings.replace(role.getName(), 'ROLE_', ' ')}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

</body>
</html>